* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 100%;
}

body {
  height: 100vh;
  font: 1rem Helvetica, Arial;
}

ul,
li {
  list-style: none;
}

a {
  color: #ffffff !important;
  text-decoration: none;
  display: block;
  font-size: 1rem !important;
}

a:hover {
  color: #f08040 !important;
}

.btn-custom-color {
  color: rgb(0, 0, 0);
  background-color: rgb(240, 128, 64);
  border-color: rgb(240, 128, 64);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0rem;
  z-index: 1000;
}

.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem !important;
}

.navbar-brand:hover {
  color: #f08040;
}

.nav-link small,
.dropdown-item {
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}

.dropdown-menu {
  background-color: #203040;
}

.main {
  background-color: #e3e3e3;
}

.footer {
  background-color: #203040;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
